:root {
  --red: #c51533;
  /* --red: #d64760; */
  /* --yellow: rgb(255, 208, 0); */
  --border: solid 5px white;
}

.App {
  text-align: center;
  width: 100%;
  flex-flow: column wrap;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
.App nav {
  width: 100%;
}

body {
  background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1526234362653-3b75a0c07438%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax%26ixid%3DeyJhcHBfaWQiOjEyMDd9');
  background-position: cover;
}

.register {
  width: 20rem;
  margin: 4rem;
  padding: 2rem;
  border: solid 1px ;
  border-radius: 10px;
  background: var(--red);
}
.register p {
  color: white;
}
.register p a {
  color: white;
  text-decoration: underline;
}
.register input {
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
}
.registerButton {
  margin: 10px;
  border-radius: 5px;
  padding: 4px 10px;
}
.registerButton:hover {
  background: rgb(187, 187, 187);
}


.pleaseAdd {
  border: var(--border);
  border-radius: 10px;
  padding: 1rem;
  background: var(--red);
  opacity: .95;
  margin: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgba(231, 235, 45, 0.664);
}


.navBar {
  background: var(--red);
  opacity: .9;
  height: 2rem;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px white;
}
.navBar button {
  border-radius: 5px;
  padding: 4px 10px;
}
.navBar a {
  color: white;
  margin: 0 2rem 0 0;
}

.listRoute {
  width: 100%;
  align-self: flex-start
}
.mealList {
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0;
}
.mealList a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  width: 70%
}


.mealCard {
  display: flex;
  flex-flow: column wrap;
  border: var(--border);
  border-radius: 10px;
  background: var(--red);
  opacity: .95;
  margin: 1rem;
  width: 100%;
}
.mealCardImg {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.appRoutes {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mealCardTwo {
  width: 70%;

}

.itemImg {
  margin: 2rem .5rem .5rem .5rem;
  width: 10rem;
  height: 8rem;
  border-radius: 10px;
}
.itemName {
  margin: .5rem;
}
.rating {
  margin: .5rem;
}

.mealCardBody {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-right: .5rem;
}
.mealCardTop {
  border-bottom: solid 2px white;
  width: 100%;
}
.mealCardBottom {
  display: flex;
  width: 100%;
}
