.tableContainer {
  font-size: 70%;
  border: solid 1px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 80%;
  margin: 0;
  margin-top: 1rem;
  align-self: flex-start;
}

.mealTable {
  width: 100%;
  background: var(--red);
  opacity: .9;
  box-sizing: border-box;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}

thead, tr, th, tbody, td {
  width: 100%;
  border: solid 2px black;
  overflow: hidden;
  word-wrap: break-word;
}
tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  height: 8rem;
}
th {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 999;
}
td {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  word-wrap: break-word;
}
td a {
  word-wrap: break-word;
  overflow-x: hidden;
}
.headRow {
  height: 4rem;
}

.tablePhoto img{
  position: relative;
  padding: none;
  width: 5rem;
  height: 5rem;
}